* {
    margin: 0;
    padding: 0;
    list-style: none;
  }
.main-header{
    width: 100%;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    border-bottom: 3px solid rgb(132, 100, 20) ;
}
.logo{
    position: absolute;
    top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}
.logo img{
    width: 100%;
    height: 100%;
}
.container{  
    /* background-color: bisque; */
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.header-icon{
    display: flex;
    height: 40px;
    justify-content: flex-end;
    margin-top: 10px;  
}
.header-icon ul{
    display: flex;
}
.header-icon li{
    margin: 0 10px;
    position: relative;
}
.header-icon a {
    text-decoration: none;
    color: rgb(132, 100, 20);
}
/* .header-icon li:last-child {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px; 
} */
.header-icon .msss a{
    border: 1px solid rgb(132, 100, 20);
    padding: 1px 2px;
    border-radius: 5px;
    font-size: 14px;
}
.fa-brands {
    font-size: 20px;   
}
.header-nav{
    width: 1200px;
    height: 87px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;   
}
.header-nav ul {
    /* background-color: black; */
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav li{
    width: 100px;
    padding: 10px 20px;
    /* margin: 0 20px; */
    font-size: 20px;
    position: relative;
    text-align: center;
    /* background-color: aqua; */  
}
.header-nav a{
    color: #666;
    text-decoration: none;
    font-weight:700;
    /* position: relative; */
}
.header-nav a::after{
    content: "";
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: -5px;
    border-bottom: 3px solid rgb(132, 100, 20);
    opacity: 0;;
}
.header-nav a:hover::after{
    opacity: 1;
    bottom: 2px;
    transition: .3s;
}
.header-nav li:nth-child(3){
    margin-right: 200px;
}
.header-nav  .nav {
    width: 200px;
    position: absolute;
    top: 45px;
    left: -50px;
    /* background-color: rgba(40,22,17,0.90); */
    display: none;
    /* visibility: hidden; */
    /* opacity: 0; */
   /* background-color: rgba(40,22,17,0.90); */
    z-index: 200;
    
    /* transform: scale(0); */
    /* transform:rotate(-10deg);
    transform-origin :bottom ; */
    /* transition: .8s; */
    /* transition: visibility 0s, opacity 0.5s linear; */
    transition: 2s;
}
.header-nav .nav li{
   width: 200px;
   background-color: rgba(40,22,17,0.90);
   border: 1px solid rgba(0, 0, 0, 0.699);
   /* border: 2px solid rgba(0, 0, 0, 0); */
   /* border-bottom: 5px transparent; */
   /* position: relative; */
}
.header-nav .nav a{
    font-size: 20px;
}
.header-nav .nav li:hover{
    background-color: rgb(162, 110, 14);
    /* border: 2px solid transparent; */

}
 .header-nav .nav li:hover a{
    color: #333;
}
.header-nav li:hover .nav {
    /* opacity: 1; */
    /* visibility: visible; */
    display: block;
    /* transform:scale(1); */
    /* transform: none; */
}
.open{
    position: relative;
}
.open ul{
    position: absolute;
    width: 50px;
    top: 10px;
    left: 100%;
    display: block;
    visibility: hidden;
    opacity: 0;
    border: 10px solid black;
}
.open:hover ul{
    opacity: 1;
    visibility: visible;

}

